html {
  height: 100%;
}
html body {
  display: grid;
  align-items: center;
  min-height: 100%;
  margin: 0;
}
article.slide {
  display: none;
  padding: 1rem;
  margin: 0 auto;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0 0 30px #888;
}
article.slide h1 {
  font-size: 3rem;
}
article.slide h2 {
  font-size: 1.8rem;
}
article.slide h3 {
  font-size: 1.2rem;
}
article.slide p {
  font-size: 1.5rem;
}
article.slide#slide-1 {
  display: grid;
}
article.slide.title {
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
article.slide.title header {
  align-self: flex-end;
}
article.slide.title header h1,
article.slide.title header h2,
article.slide.title header h3 {
  margin: 0;
}
article.slide.title section.content {
  align-self: flex-start;
}
article.slide.title section.content p {
  margin: 0;
}
article.slide.title footer {
  display: none;
}
