<!DOCTYPE html>
<html>
  <head>
    <title>{{show.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="lecture.js/lecture.css">
    <link rel="stylesheet" href="lecture.js/print.css" media="print">
    <script src="lecture.js/lecture.js" defer></script>

    <link rel="stylesheet"
          href="//highlightjs.org/static/demo/styles/{{show.code}}{{^show.code}}default{{/show.code}}.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>

    <link rel="stylesheet" href="themes/{{theme}}/theme.css" media="screen">
  </head>
  <body>
    