<article id="{{num}}" class="slide {{slide.class}}">
  <header>
  </header>
  <div class="resizer">
    <section class="content">
      {{{html}}}
    </section>
  </div>
  <footer>
    <span class="left">{{show.title}}</span>
    <span class="center">{{show.author}}</span>
    <span class="right">{{num}}/{{total}}</span>
  </footer>
</article>