<!DOCTYPE html>
<html>
  <head>
    <title>{{show.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="themes/{{theme}}/theme.css">

    <script defer>{{{lecture-script}}}</script>
    <style>{{{lecture-css}}}</style>
  </head>
  <body>
    