html {
  height: 100%;
}
html body {
  display: grid;
  align-items: center;
  min-height: 100%;
  margin: 0;
}
article.slide {
  display: none;
  padding: 3rem;
  margin: 0 auto;
  grid-template-rows: 1fr auto;
  box-shadow: 0 0 30px #888;
}
article.slide h1 {
  font-size: 3rem;
}
article.slide h2 {
  font-size: 2.4rem;
}
article.slide h3 {
  font-size: 2rem;
}
article.slide p {
  font-size: 1.8rem;
}
article.slide pre {
  background-color: #333;
  padding: 1em;
  font-size: 1.4rem;
}
article.slide:target {
  display: grid;
}
article.slide footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
article.slide footer .center {
  text-align: center;
}
article.slide.title {
  grid-template-rows: 1fr;
}
article.slide.title .content {
  text-align: center;
  align-self: center;
}
article.slide.title footer {
  display: none;
}
