<article id="{{num}}" class="slide {{frontmatter.class}}">
  <section class="content">
    {{{html}}}
  </section>
  <footer>
    <span class="left">Lecture.js</span>
    <span class="center">André Restivo</span>
    <span class="right">{{num}}/{{total}}</span>
  </footer>
</article>