html {
  height: 100%;

  body {
    display: grid;
    align-items: center;
    min-height: 100%;
    margin: 0;
  }  
}

article.slide {
  display: none;
  padding: 3rem;
  margin: 0 auto;
  grid-template-rows: 1fr auto;
  box-shadow: 0 0 30px #888;
  cursor: pointer;

  h1 { font-size: 3rem}
  h2 { font-size: 2.4rem}
  h3 { font-size: 2rem}

  p {font-size: 1.8rem}

  pre {
    background-color: #333;
    padding: 1em;
    font-size: 1.4rem;
  }
}

article.slide:target {
  display: grid;
}

article.slide footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  .center {
    text-align: center;
  }
}

article.slide.title {
  grid-template-rows: 1fr;

  .content {
    text-align: center;
    align-self: center;
  }

  footer {
    display: none;
  }
}